<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867594472482-112lc718n1tg0v8oik45comk75q35ueu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867594472482-112lc718n1tg0v8oik45comk75q35ueu</string>
	<key>API_KEY</key>
	<string>AIzaSyARu7JP-f-xTtF6DGm0H7_0ij6wmIl40XA</string>
	<key>GCM_SENDER_ID</key>
	<string>867594472482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.com.tipi.arpi</string>
	<key>PROJECT_ID</key>
	<string>arpi-65fcf</string>
	<key>STORAGE_BUCKET</key>
	<string>arpi-65fcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867594472482:ios:38ac8d60a7b4bd9819ce7b</string>
</dict>
</plist>